body {
  margin-left: 10%;
  background-color: gray;
}
.code-content {
  overflow-x: auto;
  display: flex;
}
.code-block {
  font-size: x-large;
  color: burlywood;
  white-space: pre-line;
}
.tabs {
  display: flex;
}
.tabs ul {
  cursor: pointer;
}
/* .code-block {
    display: none;
} */

ul {
  list-style-type: none;
}
a {
  background-color: transparent;
  text-decoration: none;
  border-bottom: none;
  color: #cccccc;
}
.images {
  width: 90%;
  max-height: 700px;
  overflow-x: auto;
}
.images::-webkit-scrollbar {
  display: none; /*scroll option will there but not visible*/
}

.code-snippet {
  background-color: black;
  color: #ffffff;
  border-radius: 10px;
  padding: 16px;
  font-family: "Courier New", Courier, monospace;
  line-height: 1;
  margin-bottom: 7%;
  margin-right: 7%;
}

.code-snippet .file-type {
  padding-left: 1%;
}

.code-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #343541;
  border-radius: 10px;
}

.file-type {
  color: #cccccc;
}

.copy-button {
  border: none;
  padding: 4px 8px;
  border-radius: 10px;
  cursor: pointer;
}

.edit-button {
  border: none;
  padding: 4px 8px;
  border-radius: 10px;
  cursor: pointer;
}
