html {
  scroll-behavior: smooth;
}
body {
  font-family:'Courier New', Courier, monospace;
  margin-left: 10%;
  background-color: rgb(41, 41, 41);
}
.topic{
    color: #ffffff;
}
.problem{
    color: #ff00ea;
}
.concept{
    color: #ff0000;
    margin-bottom: 3%;
}
.code-content {
  overflow-x: auto;
  display: flex;
}
.code-block {
  font-size: x-large;
  color: burlywood;
  /* white-space: pre-line; */
}
#index{
    color:#ff00ea;
}
#index a {
  color: rgb(0, 128, 53);
}
#index ul {
  list-style-type: circle;
}
#stickyButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
  /* Add styling as per your preference */
}
.tabs {
  display: flex;
}
.tabs ul {
  cursor: pointer;
  list-style-type: none;
}
/* .code-block {
    display: none;
} */
a {
  background-color: transparent;
  text-decoration: none;
  border-bottom: none;
  color: #cccccc;
}
.images {
  width: 90%;
  max-height: 700px;
  overflow-x: auto;
}
.images::-webkit-scrollbar {
  display: none; /*scroll option will there but not visible*/
}
.code-content::-webkit-scrollbar {
  display: none; /*scroll option will there but not visible*/
}

.code-snippet {
  background-color: black;
  color: #ffffff;
  border-radius: 10px;
  padding: 16px;
  font-family: "Courier New", Courier, monospace;
  line-height: 1;
  margin-bottom: 7%;
  margin-right: 7%;
}

.code-snippet .file-type {
  padding-left: 1%;
}

.code-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #343541;
  border-radius: 10px;
}

.file-type {
  color: #cccccc;
}

.copy-button {
  border: none;
  padding: 4px 8px;
  border-radius: 10px;
  cursor: pointer;
}

.edit-button {
  border: none;
  padding: 4px 8px;
  border-radius: 10px;
  cursor: pointer;
}
