/* Default styles for both mobile and desktop */
/* Shared styles */
h2 {
  padding-top: 66px;
}
#projects h2 {
  margin-top: 20%;
}
a {
  color: aliceblue;
  text-decoration: none;
  border-bottom: none;
}
body {
  font-family: "Roboto", sans-serif;
}
/* Media query for mobile */
@media (max-width: 767px) {
  /* Mobile-specific styles */
  #about_p {
    margin: 10%;
    align-items: center;
  }
  .navbar.fixed-top {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }
}
@media (min-width: 768px) and (max-width: 1079px) {
  #about_p {
    margin: 10%;
    align-items: center;
  }
  .navbar.fixed-top {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }
  /* CSS styles for tablets */
  /* Add your styles here */
  .card-text {
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden; /* Hide any overflowing content */
    text-overflow: ellipsis; /* Display "..." for truncated text */
    max-width: 100%; /* Limit the width of the container */
  }

  .card-text:hover {
    overflow: visible; /* Show overflowing content on hover */
    white-space: normal; /* Allow text to wrap and show full content */
  }
}
/* Media query for desktop */
@media (min-width: 1080px) {
  /* Desktop-specific styles */

  .sticky-top {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }

  #about_p {
    display: flex;
    margin: 10%;
  }
  #about_p img {
    margin: 10%;
  }
  #projects img {
    width: auto;
    height: 350px;
  }
  .card-text {
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden; /* Hide any overflowing content */
    text-overflow: ellipsis; /* Display "..." for truncated text */
    max-width: 100%; /* Limit the width of the container */
  }

  .card-text:hover {
    overflow: visible; /* Show overflowing content on hover */
    white-space: normal; /* Allow text to wrap and show full content */
  }
}
