<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <title>dsa</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../css/dsa.css'>
    <script src='../scripts/dsa.js'></script>
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/prismjs/themes/prism.css" />
    <script src="https://cdn.jsdelivr.net/npm/prismjs/prism.min.js"></script> -->

</head>

<body>
    <!-- intro images -->
    <div class="images" style="display: flex;">
        <img src="../dsa/dsa.jpg" alt="dsa-pic" width="45%" height="45%" style="align-items:center;margin:auto;">
        <img src="../dsa/timecomplexity.jpg" alt="timecomplexity" width="40%" height="40%"
            style="align-items:center;margin:10%;">
        <img src="../dsa/classification_dsa.jpg" alt="timecomplexity" width="40%" height="40%"
            style="align-items:center;margin:10%;">
    </div>
    <h1 class="topic">BIT MANIPULATION</h1>
    <!-- code -->
    <h2 class="problem">power of 2</h2>
    <div class="code-snippet power-of-2">
        <div class="code-header">
            <span class="file-type">Cpp</span>
            <div class="tabs">
                <ul><a href="#" onclick="changeTab(event,0)">o(1)</a></ul>
                <ul><a href="#" onclick="changeTab(event,1)">o(2)</a></ul>
            </div>
            <div>
                <button class="copy-button" onclick="copyCode()">
                    <img src="../logos/copy.png" width="30" height="30" style="border-radius: 5px;" alt="copy">
                </button>
            </div>
        </div>
        <pre class="code-content">
            <code id="code">
                <div class="code-block">
                    <pre class="code">
                        int power2(int N){
                            return 1u&lt;&lt;N;    //0<=N<=31
                        }
                    </pre>
                </div>
                <div class="code-block" style="display: none;">
                    <pre class="code">
                        int power2(int N){
                            return 1ll&lt;&lt;N; //0<=N<=62
                        }
                    </pre>
                </div>
            </code>
        </pre>
    </div>

    <h2 class="problem">check bit</h2>
    <div class="code-snippet check-bit">
        <div class="code-header">
            <span class="file-type">Cpp</span>
            <div class="tabs">
                <ul><a href="#" onclick="changeTab(event,3)">o(1)</a></ul>
                <ul><a href="#" onclick="changeTab(event,4)">o(2)</a></ul>
            </div>
            <div>
                <button class="copy-button" onclick="copyCode()">
                    <img src="../logos/copy.png" width="30" height="30" style="border-radius: 5px;" alt="copy">
                </button>
            </div>
        </div>
        <pre class="code-content">
            <code id="code">
                <div class="code-block">
                    <pre class="code">
                        bool checkbit(int N,int b){
                            return (N&gt;&gt;b)&1;
                        }
                    </pre>
                </div>
                <div class="code-block" style="display: none;">
                    <pre class="code">
                        bool checkbit(int N,int b){
                            return N&(1&lt;&lt;b)
                        }
                    </pre>
                </div>
            </code>
        </pre>
    </div>

</body>

</html>